/* ==============SRATR RULES============== */
:root {
  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --light-text-color: #ffffff;
  --dark-text-color: #000000;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #e5e5e5;
  --dark-background-color: #2f303a;
  --button-hover-color: #188ce8;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}
/* ==============END RULES============== */

/*======= START HEADER =======*/
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.logo-link {
  color: var(--dark-text-color);
  font-family: var(--secondary-font-family);
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
}
.logo-text {
  color: var(--accent-color);
}

.nav-list-link {
  color: inherit;
}

.nav-list-link:hover,
.nav-list-link:focus,
.active-page,
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

.header-contact-link {
  color: var(--secondary-text-color);
}
/*======= END HEADER =======*/

/*======= START HERO =======*/
.hero {
  background-color: var(--dark-background-color);
}
.hero-title {
  color: var(--light-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  color: var(--light-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--button-hover-color);
}
/*======= END HERO =======*/

/*======= START BENEFITS =======*/
.benefits-title,
.activity-title,
.team-title {
  color: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.benefits--list-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

.benefits-description {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}
/*======= END BENEFITS =======*/

/*======= SRART TEAM =======*/
.team {
  background-color: var(--secondary-background-color);
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list-description {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/*======= END TEAM =======*/

/*======= START FOOTER=======*/
.footer {
  background-color: var(--dark-background-color);
}
.logo-text-footer {
  color: var(--light-text-color);
}

.footer-address {
  font-style: normal;
}

.footer-address-list-link {
  color: var(--light-text-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contact-link {
  color: #ffffff99;
}

.footer-address-list-link:hover,
.footer-address-list-link:focus {
  color: var(--accent-color);
}
/*======= END FOOTER=======*/

/*============ START PORTFOLIO============*/
.portfolio-list-btn {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.portfolio-list-btn:hover,
.portfolio-list-btn:focus {
  background-color: var(--accent-color);
  color: var(--light-text-color);
}

.active-portfolio-list-btn {
  background-color: var(--accent-color);
  color: var(--light-text-color);
}

.portfolio-list-link {
  text-decoration: none;
}

.portfolio-list-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list-description {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
/*============ END PORTFOLIO============*/
